body {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    }
    a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    }
    a:visited{
        text-decoration: none;
    }
    a:hover{
        color: purple;
    }
    audio {
        display: none;
    }
    article {
        border: 1em;
        border-color: white;
    }